button {
  background-color: #ffaaaa; /* Light pink pastel button */
  color: #fff; /* Button text color */
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* Container styles */
.container {
  background-color: #ffdddd; /* Light pink pastel background */
  width: 100%;
  height: 100vh; /* Set the container height to the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}
